// global
p {
    font-size: 14px;
}

body {
    background: #f2f2f2;
}

html, body {
    height: 100%;
    position: relative;
}

main {
    padding-bottom: 20px;

    &.landing-page {
        padding-bottom: 0;
    }
}

// @media (max-width: 768px) {
//     table.table {
//         thead {
//             display: none;;
//         }

//         tr {
//             display: block;
//             border-bottom: solid 3px #666;


//             &:nth-child(even) {
//                 background: $white;
//             }

//             td {
//                 display: block;
//                 width: 100%;
//                 position: relative;
//                 text-align: right;

//                 &:before {
//                     content: attr(data-label);
//                     display: inline-block;
//                     position: absolute;
//                     left: 10px;
//                     margin-right: 8px;
//                 }
//             }
//         }
//     }
// }